{% extends "layout.html" %}

{% block sub_header %}
  <h3>Here you can find all of my blog posts. </h3>
{% endblock %}

{% block content %}

<div class = "asc/desc text-center pb-3">
  <a role="button" class= "btn btn-default m-1"
        href="{{ url_for('all_posts') }}">
        Most recent ↓
  </a>

  <a role="button" class= "btn btn-default m-1"
        href="{{ url_for('all_posts_asc') }}">
        Oldest ↑
  </a>
</div>

<div class = "row gx-5">
  <hr class="mt-2 mb-3">
  {% for post in posts %}
    <div class = "row justify-content-center text-center">
      <div class = "col col-8 col-md-6 col-xl-6">
        <h3><a class = "text-dark" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3> </br>
        <p class = "pb-3">{{ post.description }}</p>
        <a href="{{ url_for('post', post_id=post.id) }}"><img class = "blog_pic" src="{{ url_for('static', filename='img/' + post.image_file) }}"></a>
        <p class = "pt-3">&nbsp by {{ post.user.first_name }} {{ post.user.surname }}</p>
        <p>Last updated: <span>{{ post.date }}</span></p>
      </div>
    </div>
    <hr class="mt-2 mb-3">
  {% endfor %}
</div>

{% endblock content %}